body {
  background-image: url(media/sky.jpg) !important;
  background-size: cover;
  background-color: white;
  font-family: "Poppins", sans-serif !important;
}
.container {
  width: 50% !important;
  box-shadow: 0px 0px 25px rgba(198, 223, 232, 0.712);
  background: white;
  margin: 150px auto;
  padding: 40px 20px;
  border-radius: 30px;
}
/*#city {
  text-shadow: 0px 0px 10px rgba(105, 154, 170, 0.676),
    0px 0px 25px rgb(148, 189, 211);
}*/
div,
form {
  margin: 30px 0;
}
input,
.button {
  margin: 0 10px !important;
  border: 2px;
  border-radius: 10px;
}
input {
  background-color: rgb(234, 231, 231);
}
img {
  filter: drop-shadow(6px 6px 10px rgba(118, 118, 118, 0.841));
}
#description {
  text-transform: capitalize;
}
.search-button {
  background-color: rgb(189, 212, 220);
}
.allow-button {
  background-color: lightblue;
  color: rgb(104, 104, 104);
}
.active {
  pointer-events: none;
  color: black;
  text-decoration: none;
}
.enable {
  background-color: rgb(104, 104, 104);
  color: lightblue;
}
i {
  color: red;
}
ul {
  list-style-type: none;
  text-align: left;
}
.current-city {
  background-size: cover;
  /*
  box-shadow: inset 0 0 15px 5px rgba(225, 225, 225, 0.2);
  background-image: url(media/blue-sky.jpg);*/
  border: 2px;
  border-radius: 30px;
  border-color: #c0dcfcce;
  display: flex;
  align-items: center;
  height: 200px;
  padding: 0 30px;
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  color: rgb(124, 124, 124);
  text-decoration: none;
}
.card {
  margin: 0 10px;
  border: 0px !important;
  border-radius: 50px;
  box-shadow: inset 0 0 15px 5px rgba(209, 209, 209, 0.1);
}
.card-body {
  text-align: center;
  padding: 20px 10px !important;
}
.weather-forecast-temperature-min {
  font-weight: 200;
}
#city,
#date,
#temperature,
.temp {
  font-weight: bolder;
}
.allow-button :hover {
  background-color: rgb(134, 190, 208);
  opacity: 0.7;
}
